@media(max-width: 1200px) {
    .clicked-addtask-window {
        justify-content: center;
    }

    .margin-top-115-responsive-34 {
        margin-top: 34px !important;
    }

    .clear-create-div {
        justify-content: center !important;
    }

    .clear-div {
        display: flex !important;
    }

    .create-div {
        position: relative !important;
        top: unset !important;
        right: unset !important;
        z-index: 0 !important;
        display: flex !important;
    }
}


@media(max-width: 990px) {
    .clicked-addtask-window {
        height: 100%;
        width: 100%;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        border-radius: 0px;
    }

    .clear-create-div {
        margin-bottom: 50px;
    }

    .create-button {
        height: unset !important;
    }
}


@media(max-width: 770px) {
    .clicked-addtask-window {
        z-index: unset;
        top: 75px;
    }

    .clicked-addtask-bg {
        display: none;
        position: unset;
    }

    .right-side-first-half {
        margin-bottom: 0px !important;
    }

    .clear-create-div {
        margin-bottom: 210px;
    }
}


@media(max-width: 570px) {
    .add-task-left-side {
        margin-left: 0px !important;
    }

    .clear-create-div {
        width: 320px !important;
    }

    .clear-div {
        width: 120px !important;
        padding: 15px 3px !important;
        font-size: 18px !important;
    }

    .create-button {
        font-size: 18px !important;
    }
}


@media(max-width: 380px) {
    .right-side-first-half {
        width: 260px !important;
    }

    .clear-create-div {
        width: 250px !important;
    }

    .clear-div {
        font-size: 16px !important;
        padding: 10px 3px !important;
        width: 130px !important;
    }

    .clear-div img {
        width: 20px !important;
        height: 20px !important;
        margin-left: 10px !important;
    }

    .create-div {
        padding: 5px 6px !important;
        width: 150px !important;
        margin-left: 20px !important;
    }

    .create-div img {
        width: 12px !important;
        height: 12px !important;
        margin-left: 5px !important;
    }

    .create-button {
        font-size: 16px !important;
    }
}