body {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
}

.render {
    display: flex;
}

.fontsice-21 {
    font-size: 21px;
}

.abc {
    font-size: 21px;
    margin-left: 48px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
}

.content-left {
    
    padding-top: 12px;
    background-color: white;
    height: 100vh;
    width: 453px;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: 1206px;
}

.member-box {
    display: flex;
    margin-top: 53px;
    margin-left: 48px;
}

.shortcut-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;

    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border-radius: 100px;
    text-align: center;
    background: #FF7A00;
    border: 1px solid #FFFFFF;
    margin-right: 35px;
}

.email {
    width: 140px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    display: flex;
    align-items: center;

    color: #007CEE;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 5px;
}

.border-container{
    background-color: white;
    width: 30px;
    padding-left: 70px;
}

.border {
    width: 0px;
    height: 53px;
    margin-top: 77px;
    border: 3px solid #A8A8A8;
    border-radius: 3px;
    background-color: white;
}

.contacts {
    width: 274px;
    height: 125px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    color: #000000;
    margin-top: 82px;
    margin-left: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-right: 3px solid #29ABE2;
    margin-right: 30px;
    padding-right: 313px;
}

.team-text {
    width: 335px;
    height: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 102.5px;
}

.content-right-header {
    display: flex;
    justify-content: space-between;
}

.member-info {
    display: flex;
    margin-top: 127px;
    margin-left: 71px;
    flex-direction: column;
}

.shortcut-name-info {
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #FF7A00;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
    margin-right: 54px;
    margin-bottom: 21px;
}

.member {
    display: flex;
}

.contact-info-edit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 21px;
}

.edit-contact {
    margin-left: 61px;
}

.plus {
    width: 15px;
    height: auto;
    margin-right: 13px;
}

.new-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 100px;
    top: 904px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

