body {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    margin: 0px;
}

.d-none {
    display: none;
}

.render {
    display: flex;
    width: 100vh;
}

.fontsice-21 {
    font-size: 21px;
}

.abc {
    font-size: 21px;
    margin-left: 48px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
    width: 80%;
}

.content-left {

    padding-top: 12px;
    background-color: white;
    height: 100vh;
    width: 50%;
    overflow: auto;
}

.content-left::-webkit-scrollbar {
    width: 6px;
    height: 53px;
    background-color: white;
}

/*.content-left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}*/

.content-left::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-top: 150px solid white;
    border-bottom: 150px solid white;
    min-height: 4px;
}


.content-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.member-box {
    display: flex;
    margin-top: 43px;
    padding-top: 10px;
    margin-left: 48px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: none;
    width: 80%;
}

.member-box:hover {
    background-color: rgb(233, 233, 233);
}

.shortcut-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;

    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border-radius: 100px;
    text-align: center;
    background: #FF7A00;
    border: 1px solid #FFFFFF;
    margin-right: 35px;
}

.email {
    width: 80%;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    display: flex;
    align-items: center;

    color: #007CEE;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.border-container {
    background-color: white;
    width: 20px;
}

.contacts {
    width: 274px;
    height: 125px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    color: #000000;
    margin-top: 82px;
    margin-left: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-right: 3px solid #29ABE2;
    margin-right: 30px;
    padding-right: 313px;
}

.team-text {
    width: 335px;
    height: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 102.5px;
}

.content-right-header {
    display: flex;
    justify-content: space-between;
}

.member-info {
    display: flex;
    margin-top: 127px;
    margin-left: 71px;
    flex-direction: column;
}

.shortcut-name-info {
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #FF7A00;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
    margin-right: 54px;
    margin-bottom: 21px;
}

.member {
    display: flex;
}

.contact-info-edit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 21px;
}

.edit-contact-pencil {
    margin-left: 61px;
    cursor: pointer;
}

.plus {
    width: 15px;
    height: auto;
    margin-right: 13px;
}

.new-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: fixed;
    width: 193px;
    height: 53px;
    right: 25%;
    bottom: 25%;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.new-contact img {
    height: 29px;
    width: 30px;
}

.new-contact:hover, .creat-button:hover {
    background-color: #29ABE2 !important;
    border: none;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%);
}



.edit-contact {
    display: flex;
    position: absolute;
    width: 1500px;
    height: 700px;
    top: 20%;
    left: 20%;
    animation: edit-contact 3s ease;
}

@keyframes edit-contact {
    from {
        left: 100%;
        transform: left 3s ease;
    }

    to {
        left: 20%;
        transform: left 3s ease;
    }
}

.edit-contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 100%;
    background: #2A3647;
    border-radius: 10px 0px 0px 10px;
    padding-left: 40px;
}

.edit-contact-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    width: 900px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.join-logo {
    width: auto;
    height: 100px;
    object-fit: cover;
}

.header-edit-contact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: white;
    margin-top: 20px;
}

.text-edit-contact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-top: 20px;
}

.blue-border {
    border: 3px solid #29ABE2;
    width: 90px;
    background-color: #29ABE2;
    border-radius: 10px;
    margin-top: 20px;
}

.edit-contact-input {
    display: flex;
    flex-direction: column;
}

.member-img-container {
    width: 120px;
    height: 120px;
    background: #D1D1D1;
    border: 3px white solid;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-img {
    width: auto;
    height: 70px;
    object-fit: cover;
}

.inputs-name {
    background: url(../img/name-icon.png) no-repeat;
    background-position: 95%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputs-email {
    background: url(../img/email-icon.png) no-repeat;
    background-position: 95%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputs-phone {
    background: url(../img/phone-icon.png) no-repeat;
    background-position: 95%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputs-phone::-webkit-outer-spin-button,
.inputs-phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs-phone[type=number] {
    -moz-appearance: textfield;
}

.button-box {
    display: flex;
    width: 422px;
    height: 68px;
}

.cancel-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    border-radius: 10px;
    border-color: #2A3647;
    border: 1px solid;
    background-color: white;
    margin-right: 40px;
    cursor: pointer;
}

.cancel-button:hover img {
    filter: invert(74%) sepia(83%) saturate(3935%) hue-rotate(165deg) brightness(96%) contrast(84%);
}

.cancel-button:hover {
    border: 2px solid #29ABE2 !important;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%) !important;
    background-color: white !important;
    color: #29ABE2;
}

.creat-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.member-firstLetter-container {
    width: 120px;
    height: 120px;
    background: orange;
    border: 3px white solid;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: white;
}

.blue-background {
    background-color: #2A3647;
    color: white;
}

.contact-created {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 360px;
    height: 74px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.8s ease-in-out;
}

.contact-created span {
    font-size: 21px;
    color: white;
}

.contact-created img {
    width: 24px;
    height: 26px;
    margin-left: 20px;
    filter: brightness(0) invert(1);
}

.new-contact-responsiv {
    display: none;
}


@media(max-width: 990px) {
    .abc {
        font-size: 16px;
        margin-left: 18px;
        padding-bottom: 12px;
        width: 80%;
    }

    .member-box {
        margin-top: 22px;
        padding-top: 10px;
        margin-left: 18px;
        margin-bottom: 40px;
        width: 80%;
    }

    .fontsice-21 {
        font-size: 14px;
    }

    .email {
        width: 80%;
        font-size: 12px;
        margin-bottom: 10px;
    }
    

    .contacts {
        width: 50%;
        height: 61px;
        margin-left: 32px;
        font-size: 25px;
        margin-right: 15px;
        padding-right: 15px;
    }

    .team-text {
        width: 77%;
        margin-top: 87.5px;
        font-size: 16px;
    }

    .content-right-header {
        align-items: center;
    }

    .shortcut-name {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
    
    .border-container {
        width: 2px;
    }

    .content-left {
        width: 40%;
    }

    .new-contact {
        width: 110px;
        height: 15px;
        font-size: 9px;
    }

    .new-contact img {
        height: 20px;
        width: 20px;
    }
}

@media(max-width: 770px) {
    .content-right {
        display: none;
    }

    .render {
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .cancel-button-responsiv {
        display: flex;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 102;
        right: -14px;
        top: 43px;
    }

    .close-withe {
        transform: rotate(45deg);
        object-fit: cover;
        width: 25px;
        height: 25px;
    }

    .content-left {
        height: 100%;
        width: 100vw;
    }

    .join-logo {
        display: none !important;
    }

    .header-edit-contact {
        font-size: 41px;
    }

    .text-edit-contact {
        font-size: 17px;
    }

    .blue-border {
        border: 1px solid #29ABE2;
    }

    .abc {
        width: 85%;
        margin-left: 24px;
    }

    .member-box {
        width: 85%;
        margin-top: 25px;
        padding-top: 0px;
        margin-left: 24px;
        margin-bottom: 0px;
        align-items: center;
    }

    .fontsice-21 {
        font-size: 18px;
    }

    .email {
        width: 14px;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 5px;
    }

    .shortcut-name {
        width: 35px;
        height: 35px;
    }

    .new-contact-responsiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        gap: 10px;
        position: fixed;
        width: 162px;
        height: 30px;
        right: 15px;
        top: 100px;
        background: #2A3647;
        border: 1px solid #2A3647;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .member-container {
        margin-top: 55px;
    }

    .edit-contact {
        top: 0%;
        left: 0%;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 101;
    }

    .edit-contact-left {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
    }

    .edit-contact-right {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
        justify-content: center;
    }

    .member-img-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
    }

    .member-img {
        height: 36px;
    }

    .inputs-name {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .inputs-email {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .inputs-phone {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .edit-contact-input {
        align-items: center;
        justify-content: space-between;
        width: 75%;
    }

    .cancel-button {
        display: none;
    }

    .button-box {
        justify-content: center;
        width: 100%;
    }

    .creat-button {
        width: 70%;
        height: 40px;
        font-size: 14px;
    }
}


@media(max-width: 570px) {
    .content-right {
        display: none;
    }

    .render {
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .cancel-button-responsiv {
        display: flex;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 102;
        right: -14px;
        top: 43px;
    }

    .close-withe {
        transform: rotate(45deg);
        object-fit: cover;
        width: 25px;
        height: 25px;
    }

    .content-left {
        height: 100%;
        width: 100vw;
    }

    .join-logo {
        display: none !important;
    }

    .header-edit-contact {
        font-size: 41px;
    }

    .text-edit-contact {
        font-size: 17px;
    }

    .blue-border {
        border: 1px solid #29ABE2;
    }

    .abc {
        width: 85%;
        margin-left: 24px;
    }

    .member-box {
        width: 85%;
        margin-top: 25px;
        padding-top: 0px;
        margin-left: 24px;
        margin-bottom: 0px;
        align-items: center;
    }

    .fontsice-21 {
        font-size: 18px;
    }

    .email {
        width: 14px;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 5px;
    }

    .shortcut-name {
        width: 35px;
        height: 35px;
    }

    .new-contact-responsiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        gap: 10px;
        position: fixed;
        width: 162px;
        height: 30px;
        right: 15px;
        top: 100px;
        background: #2A3647;
        border: 1px solid #2A3647;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .member-container {
        margin-top: 55px;
    }

    .edit-contact {
        top: 0%;
        left: 0%;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 101;
    }

    .edit-contact-left {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
    }

    .edit-contact-right {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
        justify-content: center;
    }

    .member-img-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
    }

    .member-img {
        height: 36px;
    }

    .inputs-name {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .inputs-email {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .inputs-phone {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .edit-contact-input {
        align-items: center;
        justify-content: space-between;
    }

    .cancel-button {
        display: none;
    }

    .button-box {
        justify-content: center;
        width: 100%;
    }

    .creat-button {
        width: 70%;
        height: 40px;
        font-size: 14px;
    }
}

@media(max-width: 380px) {
    .content-right {
        display: none;
    }

    .render {
        height: 120vh;
        display: flex;
        flex-direction: column;
    }

    .cancel-button-responsiv {
        display: flex;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 102;
        right: -14px;
        top: 43px;
    }

    .close-withe {
        transform: rotate(45deg);
        object-fit: cover;
        width: 25px;
        height: 25px;
    }

    .content-left {
        height: 100%;
        width: 100vw;
    }

    .join-logo {
        display: none !important;
    }

    .header-edit-contact {
        font-size: 41px;
    }

    .text-edit-contact {
        font-size: 17px;
    }

    .blue-border {
        border: 1px solid #29ABE2;
    }

    .abc {
        width: 85%;
        margin-left: 24px;
    }

    .member-box {
        width: 85%;
        margin-top: 25px;
        padding-top: 0px;
        margin-left: 24px;
        margin-bottom: 0px;
        align-items: center;
    }

    .fontsice-21 {
        font-size: 18px;
    }

    .email {
        width: 14px;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 5px;
    }

    .shortcut-name {
        width: 35px;
        height: 35px;
    }

    .new-contact-responsiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        gap: 10px;
        position: fixed;
        width: 162px;
        height: 30px;
        right: 15px;
        top: 100px;
        background: #2A3647;
        border: 1px solid #2A3647;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .member-container {
        margin-top: 55px;
    }

    .edit-contact {
        top: 0%;
        left: 0%;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 101;
    }

    .edit-contact-left {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
    }

    .edit-contact-right {
        width: 100vw;
        height: 50%;
        z-index: 101;
        border-radius: 0px 0px 0px 0px;
        justify-content: center;
    }

    .member-img-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
    }

    .member-img {
        height: 36px;
    }

    .inputs-name {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .inputs-email {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .inputs-phone {
        width: 100%;
        height: 29px;
        margin-bottom: 20px;
    }

    .edit-contact-input {
        align-items: center;
        justify-content: space-between;
    }

    .cancel-button {
        display: none;
    }

    .button-box {
        justify-content: center;
        width: 100%;
    }

    .creat-button {
        width: 70%;
        height: 40px;
        font-size: 14px;
    }
}