.forgot-pw-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px 85px;
    width: 826px;
    height: 462px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 100px;
}

.dont-worry-text {
    font-size: 21px;
    text-align: center;
    margin-bottom: 35px;
}

.send-mail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    padding: 13px 37px;
    border: none;
    margin-top: 10px;
}


@media(max-width: 1400px) {
    .forgot-pw-container {
        width: max-content;
    }

    .dont-worry-text {
        width: 640px;
    }
}


@media(max-width: 990px) {
    .login-headline {
        font-size: 57px;
    }

    .dont-worry-text {
        width: 600px;
    }
}


@media(max-width: 770px) {
    .forgot-pw-container {
        padding: 44px 40px;
        margin-top: 194px;
    }

    .login-headline {
        font-size: 45px;
    }

    .dont-worry-text {
        width: 420px;
        font-size: 18px;
    }

    .send-mail-btn {
        font-size: 18px;
    }
}


@media(max-width: 570px) {
    .login-headline {
        font-size: 40px;
        width: 230px;
    }

    .dont-worry-text {
        width: 245px;
        font-size: 16px;
    }

    .send-mail-btn {
        font-size: 16px;
        padding: 13px 18px;
    }
}


@media(max-width: 380px) {
    .forgot-pw-container {
        padding: 25px;
    }

    .login-headline {
        width: 210px;
    }

    .dont-worry-text {
        width: 225px;
    }
}