.email-not-registered-text {
    margin-top: 12.5px !important;
}


.forgot-reset-pw-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px 85px;
    width: 826px;
    height: 462px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 100px;
}

.dont-worry-text {
    font-size: 21px;
    text-align: center;
    margin-bottom: 35px;
}

.send-mail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    padding: 13px 37px;
    border: none;
    margin-top: 10px;
}

.email-sent-and-reset-password-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 23px 20px;
}

.email-sent-and-reset-password-info img {
    width: 40px;
    height: 40px;
    background-color: #2A3647;
    margin-right: 13px;
}

.email-sent-and-reset-password-info span {
    font-size: 23px;
    color: white;
}




@media(max-width: 1400px) {
    .forgot-reset-pw-container {
        width: max-content;
    }

    .dont-worry-text {
        width: 640px;
    }
}


@media(max-width: 990px) {
    .login-headline {
        font-size: 57px;
    }

    .dont-worry-text {
        width: 600px;
    }
}


@media(max-width: 770px) {
    .forgot-reset-pw-container {
        padding: 44px 40px;
        margin-top: 194px;
    }

    .responsive-height-flexend {
        height: 495px !important;
    }

    .login-headline {
        font-size: 45px;
    }

    .dont-worry-text {
        width: 420px;
        font-size: 18px;
    }

    .send-mail-btn {
        font-size: 18px;
    }
}


@media(max-width: 570px) {
    .email-not-registered-text {
        margin-top: 13.5px !important;
    }

    .login-headline {
        font-size: 40px;
        width: 230px;
    }

    .dont-worry-text {
        width: 245px;
        font-size: 16px;
    }

    .send-mail-btn {
        font-size: 16px;
        padding: 13px 18px;
    }
}


@media(max-width: 380px) {
    .forgot-reset-pw-container {
        padding: 25px;
    }

    .responsive-height-flexend {
        justify-content: flex-end !important;
    }

    .login-headline {
        width: 210px;
    }

    .dont-worry-text {
        width: 225px;
    }

    .email-not-registered-text {
        width: 200px;
        margin-top: 12px !important;
    }

    .responsive-380-width180 {
        width: 180px !important;
    }
}