body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin-top: 82px;
    margin-bottom: 48px;
    margin-left: 8px;
}

.help-whole-page {
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    margin-right: 124px;
}

h2 {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
}


.description {
    font-size: 16px;
    margin-bottom: 35px;
}

h3 {
    font-size: 20px;
    margin: 10px 0px;
}