body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 35px;
}

.help-whole-page {
    display: flex;
    margin-left: 35px;
}