body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin-top: 82px;
    margin-bottom: 41px;
}

.legal-notice-whole-page {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    margin-left: 115px;
    margin-right: 124px;
}


@media(max-width: 990px) {}