body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 35px;
}

.legal-notice-whole-page {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    margin-left: 60px;
    margin-right: 60px;
}