@media(max-width: 990px) {
    .logo img {
        max-width: 60%;
    }

    .responsive-margin-top-100 {
        margin-top: 100px;
    }
}

@media(max-width: 770px) {
    .whole-login-page {
        flex-direction: column;
        height: 100%;
    }

    .sign-up-container {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 49px;
        margin-bottom: 59px;
    }

    .not-responsive-height-520 {
        height: 503px !important;
    }

    .responsive-d-none-sign-up {
        display: none;
    }

    .login-headline {
        font-size: 47px;
    }

    .login-input {
        padding: 8px 21px;
        width: 327px;
    }

    .login-container {
        width: 372px;
        height: 473px;
        margin-top: 194px;
    }

    .login-headline {
        padding-bottom: 24px;
    }

    .login-name-input-bg {
        background: url(../img/name-icon.png) no-repeat 327px 17px;
    }


    .login-email-input-bg {
        background: url(../img/email-icon.png) no-repeat 327px 17px;
    }

    .login-password-input-bg {
        background: url(../img/password-icon.png) no-repeat 327px 17px;
    }

    .login-buttons {
        flex-direction: column;
    }

    .login-guest-button {
        margin-right: 0px;
        margin-top: 21px;
    }

    .login-signup-buttons {
        font-size: 16px;
    }

    .fake-button-without-onclick {
        font-size: 16px;
    }

    .back-arrow {
        top: 38px;
    }

    .successful-registration {
        width: 80%;
    }
}


@media(max-width: 570px) {
    .not-responsive-height-520 {
        height: 493px !important;
    }

    .login-container {
        width: 270px;
    }

    .login-headline {
        font-size: 40px;
    }

    .login-name-input-bg {
        background: url(../img/name-icon.png) no-repeat 227px 17px;
    }


    .login-email-input-bg {
        background: url(../img/email-icon.png) no-repeat 227px 17px;
    }

    .login-password-input-bg {
        background: url(../img/password-icon.png) no-repeat 227px 17px;
    }

    .login-input {
        font-size: 16px;
        width: 227px;
        padding: 8px 18px;
    }

    .login-buttons {
        width: 220px;
    }

    .wrong-login-or-register {
        padding: 14px 5px;
        font-size: 13px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .sign-up-container {
        width: 240px;
    }

    .sign-up-container span {
        font-size: 16px;
    }

    .successful-registration img {
        width: 140px;
        height: 140px;
    }

    .back-arrow {
        width: 25px;
        height: 25px;
    }
}

@media(max-width: 380px) {
    .login-container {
        width: 210px;
    }

    .login-name-input-bg {
        background: url(../img/name-icon.png) no-repeat 190px 17px;
    }


    .login-email-input-bg {
        background: url(../img/email-icon.png) no-repeat 190px 17px;
    }

    .login-password-input-bg {
        background: url(../img/password-icon.png) no-repeat 190px 17px;
    }

    .login-input {
        width: 190px;
        padding: 8px 14px;
    }

    .wrong-login-or-register {
        text-align: center;
        padding: 8px 8px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .back-arrow {
        width: 20px;
        height: 20px;
        top: 17px;
        left: 20px;
    }

    .successful-registration {
        width: 90%;
    }

    .registered-successfully {
        font-size: 18px;
    }
}