body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
    opacity: 0;
    transition: opacity 2s;
}

.d-none {
    display: none !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 35px;
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-login {
    opacity: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 1s ease-in-out;
}

.height-520px {
    height: 520px !important;
}


.whole-login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

.logo {
    position: absolute;
    width: 100px;
    height: 120px;
    left: 50%;
    top: 50%;
    z-index: 1;
    scale: 1.6;
    transition: all 1s ease-in-out;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.sign-up-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 287px;
    top: 5%;
    right: 3%;
}

.sign-up-container span {
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
}

.sign-up-container button {
    padding: 4px 16px;
    background: #2A3647;
    border-radius: 8px;
    width: 95px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-up-container button:hover {
    background-color: #29ABE2 !important;
    border: none;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%);
}



.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 510px;
    height: 430px;
    padding: 35px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.back-arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 31px;
    top: 35px;
    cursor: pointer;

}

.login-headline {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
}

.login-headline-border {
    border-bottom: 3px solid #29ABE2;
    width: 150px;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    display: flex;
    flex-direction: row;
    padding: 12px 22px;
    width: 420px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 50px;
    outline: none;
    transition: box-shadow 150ms ease-in-out;
}

.login-input:focus {
    box-shadow: 0px 0px 0px 5px rgba(41, 171, 226, 40%);
}

.login-name-input-bg {
    background: url(../img/name-icon.png) no-repeat 420px 21px;
}

.login-email-input-bg {
    background: url(../img/email-icon.png) no-repeat 420px 21px;
}

.login-password-input-bg {
    background: url(../img/password-icon.png) no-repeat 420px 21px;
}

.login-checkbox-forgot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 460px;
    height: 30px;
}

.login-checkbox-forgot span, a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.login-checkbox-forgot a {
    color: #29ABE2;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    transition: all 150ms ease-in;
}

.login-checkbox-forgot a:hover {
    border-bottom: 2px solid #29ABE2;
}

.login-checkbox-container {
    display: flex;
    align-items: center;
}

.login-checkbox-container span {
    margin-left: 15px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin-top: 22px;
}

.login-signup-buttons {
    width: 145px;
    height: 51px;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

#submit-button {
    margin-top: 22px;
}

.login-signup-buttons:hover {
    background-color: #29ABE2;
    border: none;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%);
}

.button-bg-black {
    background: #2A3647;
    color: #FFFFFF;
}

.login-guest-button {
    color: #2A3647;
    background-color: #FFFFFF;
    margin-right: 12px;
}

.login-guest-button:hover {
    border: 2px solid #29ABE2 !important;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%) !important;
    background-color: white !important;
    color: #29ABE2;
}

.fake-button-without-onclick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 44px;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    opacity: 0.4;
    margin-top: 22px;
}

.successful-registration {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 65%;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
}

.successful-registration img {
    height: 150px;
    width: 150px;
    margin-bottom: 40px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.02);
}

.success {
    font-size: 22px;
    font-weight: 700;
    color: rgb(0, 204, 0);
    margin-bottom: 25px;
}

.registered-successfully {
    font-size: 20px;
    color: gray;
    margin-bottom: 25px;
}

.successful-registration button {
    background-color: rgba(0, 204, 0, 0.8);
    font-size: 18px;
    padding: 12px 16px;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 14%);
    font-weight: 600px;
    cursor: pointer;
    margin-top: 10px;
}

.wrong-login-or-register {
    padding: 14px;
    border-radius: 8px;
    background-color: rgba(235, 77, 96, 0.3);
    margin-bottom: 12px;
    margin-top: 12px;
    color: rgb(107, 20, 31);
}