@media(max-width: 990px) {
    .responsive-d-none-990px {
        display: none;
    }

    header {
        height: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .join-logo {
        display: flex;
    }

    .log-out {
        top: 80px;
        transform: translate(-50px);
    }


    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(200px);
        }

        to {
            opacity: 1;
            transform: translateX(-50px);
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateX(-50px);
        }

        to {
            opacity: 0;
            transform: translateX(200px);
        }
    }
}

@media(max-width: 770px) {
    body {
        margin-left: 0px !important;
    }

    .responsive-d-none-770px {
        display: none;
    }

    header {
        box-sizing: border-box;
        left: 0;
        width: 100%;
    }

    nav {
        top: unset;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 90px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    .nav-logo-container {
        width: unset;
        margin: 0px 0px;
    }

    .nav-properties {
        flex-direction: column;
        padding: 15px 0px;
    }

    .nav-text {
        width: unset;
        margin-top: 10px;
    }

    .log-out {
        height: min-content;
        flex-direction: column;
        align-items: flex-start;
    }

    .log-out a {
        width: 114px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 0px;
        padding-left: 16px;
    }

    .log-out :hover {
        width: 114px;
        border-radius: unset;
        text-align: unset;
    }

    .login-log-out:hover {
        border-radius: 0px 0px 20px 20px;
    }

    .help-log-out:hover {
        border-radius: 20px 0px 0px 0px;
    }

    .help-log-out,
    .legal-notice-log-out,
    .privacy-log-out {
        display: flex;
    }
}


@media(max-width: 570px) {
    header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .log-out {
        transform: translateX(-25px);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(200px);
        }

        to {
            opacity: 1;
            transform: translateX(-25px);
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateX(-25px);
        }

        to {
            opacity: 0;
            transform: translateX(200px);
        }
    }
}


@media(max-width: 360px) {
    nav {
        height: 80px;
    }

    .nav-properties {
        padding: 14px 0px;
    }

    .nav-icons img {
        width: 25px;
        height: 25px;
    }

    .nav-text {
        font-size: 14px;
    }
}