
:root {
    --width-task-size: 250px; /* use for sizing tasks */ 
}



/* Headline-section */ 

.headline-section {
    width: 100%; 
    height: 30%;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    margin-bottom: 20pxf;
    padding-left: 5%;
    padding-right: 5%;
}

.form-fields {
    display: flex;
}

.find-task-div {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 1px grey;
    background-color: white;
    height: 34px;

}

.find-task-div img {
    object-fit: cover;
    filter: invert(0.2);
    padding-left: 8px;
    border-left: 1px solid white;
}

.find-task-input  {
    height: 40px;
    border: none;

}

.find-task-button {
    height: 42px;
    border-radius: 10px;
    background-color: #253141;
    color: white;
    font-weight: bold;
    width: 120px;
    margin-left: 25px;
}

.find-task-button:hover {
    background-color: #2a3a50;
    cursor: pointer;
}

.second-row {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    gap: 17px;
}

.kanban-management-headlines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-task-size);
}

.kanban-management-headlines img {
    height: 22px;
    width: 25px;
    object-fit: contain;
}


/* Kanban Overview Section */ 

.kanban-overview {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    gap: 17px;
}

.current-status {
    width: var(--width-task-size);
    min-height: 100vh;
}

.kanban-task-container {
    width: var(--width-task-size);
    height: auto; 
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.task-type {
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-size: 17px;
}

.kanban-task-title {
    font-size: 16px;
}

.task-description {
    color:gray; 
    font-size: 14px;
}

.progress-border {
    width: 69%;
    height: 6px;
    border: 1px solid gray;
    border-radius: 15px;
    margin-right: 10px;
}

.gray {
    background-color: gray;
}

.progress-section {
    display: flex;
    align-items: center;
}

.assigned-employees {
    display: flex;
}

.assigned-employees img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 550px;
    margin-top: 10px;
}

.second-picture {
    position: relative;
    right: 10px;
}

.third-picture {
    position: relative;
    right: 20px;
}


/* Colors */

.orange {
    background-color: rgba(255, 122, 0, 1) !important;
}
.pink {
    background-color: rgba(252, 113, 255, 1) !important;
}
.cyan {
    background-color: rgba(31, 215, 193, 1) !important;
}
.blue {
    background-color: rgba(0, 56, 255, 1) !important;
}
.yellow {
    background-color: rgba(255, 199, 1, 1) !important;
}

/* clicked-task window
**
** c-t === clicked-task-window
**
*/ 


.clicked-task-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.clicked-task-window {
    padding: 60px;
    margin-left: 232px;
    width: 433px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
}

.c-t-category {
    font-size: 22px;
    width: max-content;
    background-color: deeppink;
    padding: 6px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 14px;
    color: white;
}

.c-t-title {
    font-size: 50px;
    color: #253141;
    margin-top:20px;
}

.c-t-description {
    color: #253141;
    font-weight: 600;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
}

.c-t-infos {
    display: flex;
    justify-content: space-between;
    width: 200px;
    gap: 20px;
    margin-bottom: 20px;
}

.c-t-checkbox input {
    margin-left: 5px;
  }


.c-t-subtasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.c-t-space {
    width: 50%;
}


.priority-box{
    padding: 4px 18px;
    margin-left: 18px;
    gap: 10px;
    background-color: FF3d00;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.c-t-priority-icon {
object-fit: contain;
width: 16px;
}

.c-t-assignedTo {
    display: flex;
    flex-direction: column;
}

.c-t-profilimages {
    width: 46px;
    height: 46px;
    border-radius: 559px;
    object-fit: cover;
}

.c-t-contact {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-weight: 500;
}



/* ADD TASK WINDOW */ 

.clicked-addtask-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.clicked-addtask-window {
    position: fixed;
    padding: 60px;
    left: 10%;
    right: 10%;
    top: 4%;
    bottom: 4%;
    border-radius: 20px;
    background-color: white;
    z-index: 1000;
    display: none;
}

.add-task-whole-page {
    display: flex;
    margin-top: -90px;
}
