body {
    font-family: 'Inter';
    font-size: 16px;
}

h1 {
    /* Summary */


    width: 315px;
    height: 73px;

    /* Version 2/t1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 123px;
    margin-top: 83px;
    margin-bottom: 87px;
}

.header-subtext {
    border-left-color: #29ABE2;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;

    /* Everything in a nutshell! */

height: 59px;

/* Version 2/t5 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 120%;
/* or 32px */


color: #2A3647;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.content-box {
    display: flex;
    margin-left: 123px;
}

.content-left {
    width: 580px;
}

.task-card-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    text-align: center;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;

    width: 170px;
    height: 170px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.upcomming-card {
    /* Urgency summary v1 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;

    height: 150px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 35px;
}

.to-do-card {
    /* check rectangle button v1 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;

    width: 272.5px;
    height: 150px;

    /* white */

    background: #FFFFFF;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.to-do-img-box {
    /* Ellipse 4 */
    width: 69px;
    height: 69px;
    left: 0px;
    top: 0px;
    border-radius: 100px;

    background: #2A3647;
}

.numbers {
    /* 6 */


width: 41px;
height: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */

text-align: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.to-do-card-box {
    display: flex;
    justify-content: space-between;
}

.upcomming-date-container {
    border-left-color: #D1D1D1;
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 61px;
    height: 102.02px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fontsize-21{
    font-size: 21px;
}

.content-right {
    margin-left: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.good-morning {
    /* Good morning, */


width: 338px;
height: 56px;

/* Version 2/t2 */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 47px;
line-height: 120%;
/* or 56px */


color: #2A3647;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.name{
    /* Sofia Müller */


width: 385px;
height: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */


/* Ligth blue */

color: #29ABE2;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
