body {
    font-family: 'Inter';
    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1600 - 320)));
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1600 - 320)));
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.header-subtext {
    border-left-color: #29ABE2;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(12px + (26 - 12) * ((100vw - 320px) / (1600 - 320)));
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.content-box {
    display: flex;
    margin-left: 5%;
}

.content-left {
    width: 50%;
}

.task-card-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 30%;
    height: 20vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 200ms ease-in-out;
}

.task-card:hover {
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.task-card:hover .numbers {
    color: white;
}

.upcomming-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 20vh;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 5%;
    transition: all 200ms ease-in-out;
}

.upcomming-card:hover {
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.upcomming-card:hover .numbers {
    color: white;
}

.to-do-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 20vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: all 200ms ease-in-out;
}

.to-do-card:hover {
    background-color: #2A3647;
    color: white;
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.to-do-card:hover .numbers {
    color: white;
}

.to-do-img-box {
    left: 0px;
    top: 0px;
    border-radius: 100px;
}

.numbers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: calc(16px + (60 - 16) * ((100vw - 320px) / (1600 - 320)));
    line-height: 120%;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.to-do-card-box {
    display: flex;
    justify-content: space-between;
}

.upcomming-date-container {
    border-left-color: #D1D1D1;
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 5%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fontsize-21 {
    font-size: calc(10px + (21 - 10) * ((100vw - 320px) / (1600 - 320)));
    padding-left: 10px;
    padding-right: 10px;
}

.content-right {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.good-morning {
    width: auto;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px + (47 - 16) * ((100vw - 320px) / (1600 - 320)));
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name {
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16px + (64 - 16) * ((100vw - 320px) / (1600 - 320)));
    line-height: 120%;
    color: #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.urgent-arrow-img {
    height: 100%;
    width: 5vw;
}

.kanban-text {
    display: none;
}

.border-blue {
    display: none;
}


@media(max-width: 990px) {}

@media(max-width: 770px) {

    .task-card {
        height: 14vh;
        border-radius: 20px;
    }

    .kanban-text {
        display: flex;
        font-size: calc(10px + (21 - 10) * ((100vw - 320px) / (1600 - 320)));
    }

    .border-blue {
        display: flex;
        border-bottom: #29ABE2 3px solid;
        width: 10%;
        margin-top: 4%;
        margin-left: 5%;
    }

    .header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5%;
    }

    .header-subtext {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        height: 0;
    }

    .upcomming-card {
        height: 14vh;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 20px;
    }

    .to-do-card {
        height: 14vh;
        border-radius: 20px;
    }

    .content-box {
        margin-top: 5%;
        margin-right: 5%;
        justify-content: center;
    }

    .content-left {
        width: 100%;
    }

    .content-right {
        margin-left: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #F5F5F5;

        animation: seconds 3.0s forwards;
        animation-iteration-count: 1;
        animation-delay: 3s;
    }

    @keyframes seconds {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          z-index: 0;
        }
      }
}


@media(max-width: 570px) {}

@media(max-width: 380px) {}