body {
    font-family: 'Inter';
}

.header {
    display: flex;
    align-items: center;
}

.header-subtext {
    border-left-color: blue;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 20px;
    margin-left: 20px;
}

.content-box {
    display: flex;
}

.task-card-box {
    display: flex;
    justify-content: space-between;
}

.task-card {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 25px 0px;
gap: 13px;

width: 170px;
height: 170px;

/* white */

background: #FFFFFF;
/* nuevo */

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.upcomming-card {
    /* Urgency summary v1 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 28px 48px;
gap: 61px;

width: 580px;
height: 150px;

/* white */

background: #FFFFFF;
/* nuevo */

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.to-do-card {
    /* check rectangle button v1 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 38px 58px;
gap: 18px;

width: 272.5px;
height: 150px;

/* white */

background: #FFFFFF;
/* nuevo */

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}